doctype html
html(lang='en')
  head
    title jaydon
    link(rel='stylesheet', href='./App.css')
  body
    #root
    script!= 'window.defaults = ' + JSON.stringify(defaults) + ';'
    script(src='./App.js')
