$gray1: #fbfbfb;

$menuDesktopWidth: 270px;

$fontSize: 18px;
$lineHeight: 30px;

$buttonHeight1: 50px;

$menuTopPadding: 100px;

$borderRadius: 5px;

$mt1: 50px;
$mt2: 25px;

$mt10: 10px;

$buttonHoverBorderColorRatio: 7.5%;
$buttonHoverBackgroundColorRatio: 5%;
$buttonActiveBorderColorRatio: 12.5%;
$buttonActiveBackgroundColorRatio: 10%;
