#editAndNewRecord {
  .helpButton {
    color: #fff;
    width: 20px;
    height: 20px;
    font-size: 14px;
    cursor: pointer;
    line-height: 20px;
    user-select: none;
    margin-left: 10px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    background-color: $gray-500;
    &:hover {
      background-color: darken($gray-500, 7.5%);
    }
    &.active {
      background-color: darken($gray-500, 10%);
    }
  }

  .alert {
    &.show {
      display: block;
    }
    &.hide {
      display: none;
    }
  }
}
