doctype html
html(lang='en')
  head
    title jaydon
    link(rel='stylesheet', href='./index.css')
  body
    #root
    script!= 'window.defaults = ' + JSON.stringify(defaults) + ';'
    script(src='./index.js')
