body {
  margin: 0;
  background-color: $gray2;
}

* {
  box-sizing: border-box;
}

html, body, #root, #app, #menu, #main {
  height: 100%;
}

body, input, button {
  font-size: $fontSize;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

a, input, button {
  transition: all .15s ease-in-out;
}

body, a {
  color: $gray7;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 { font-size: $fontSize * 2.5; }
h2 { font-size: $fontSize * 2; }
h3 { font-size: $fontSize * 1.75; }
h4 { font-size: $fontSize * 1.5; }
h5 { font-size: $fontSize * 1.25; }
h6 { font-size: $fontSize * 1; }

a {
  text-decoration: none;
}

p {
  line-height: $lineHeight;
}

button, .button {
  outline: none;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  display: inline-block;
  height: $buttonHeight1;
  background-color: #fff;
  padding: 0 $buttonHeight1;
  line-height: $buttonHeight1;
  border-radius: $borderRadius;
  &.white {
    border-color: $gray3;
    background-color: #fff;
    &:hover {
      border-color: darken($gray3, 5%);
      background-color: darken(#fff, 2.5%);
    }
    &:active {
      border-color: darken($gray3, 7.5%);
      background-color: darken(#fff, 5%);
    }
  }
  &.blue {
    color: #fff;
    border-color: $blue;
    background-color: $blue;
    &:hover {
      border-color: darken($blue, $buttonHoverBorderColorRatio);
      background-color: darken($blue, $buttonHoverBackgroundColorRatio);
    }
    &:active {
      border-color: darken($blue, $buttonActiveBorderColorRatio);
      background-color: darken($blue, $buttonActiveBackgroundColorRatio);
    }
  }
}
