@import './variables';
@import './reset';

#menu  {
  float: left;
  padding: 100px 0;
  overflow-x: auto;
  background-color: #fff;
  width: $menuDesktopWidth;

  a {
    color: $gray5;
    display: block;
    font-size: 18px;
    padding: 0 30px;
    line-height: 50px;
    &:hover, &.active {
      color: $gray6;
      background-color: $gray1;
    }
  }
}

#main  {
  float: left;
  overflow-x: auto;
  padding: 100px 140px;
  background-color: $gray1;
  width: calc(100% - #{$menuDesktopWidth});
}
