@import './variables';

body {
  margin: 0;
  background-color: $gray2;
}

html, body, #root, #menu, #app, #main {
  height: 100%;
}

#menu  {
  float: left;
  background-color: #fff;
  width: $menuDesktopWidth;
}

#main  {
  float: left;
  background-color: $gray1;
  width: calc(100% - #{$menuDesktopWidth});
}
