$gray1: #f8f9fa;
$gray2: #e9ecef;
$gray3: #dee2e6;
$gray4: #ced4da;
$gray5: #adb5bd;
$gray6: #6c757d;
$gray7: #495057;
$gray8: #343a40;
$gray9: #212529;

$blue: #007bff;
$green: #29a744;
$purple: #6f43c1;
$yellow: #ffc107;

$menuDesktopWidth: 270px;

$fontSize: 18px;
$lineHeight: 30px;

$buttonHeight1: 50px;
$buttonHeight2: 100px;

$borderRadius: 5px;

$mt1: 50px;
$mt2: 25px;

$buttonHoverBorderColorRatio: 7.5%;
$buttonHoverBackgroundColorRatio: 5%;
$buttonActiveBorderColorRatio: 12.5%;
$buttonActiveBackgroundColorRatio: 10%;
