@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?3wqw1');
  src:  url('icomoon.eot?3wqw1#iefix') format('embedded-opentype'),
    url('icomoon.ttf?3wqw1') format('truetype'),
    url('icomoon.woff?3wqw1') format('woff'),
    url('icomoon.svg?3wqw1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sign-in:before {
  content: "\f090";
}
